@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background: #f6f8fb;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.input {
  @apply w-full rounded-2xl border border-slate-200 bg-white px-4 py-3 text-sm outline-none transition focus:border-sky-500 focus:ring-4 focus:ring-sky-100;
}
/* =========================
   GLOBAL FONT IMPROVEMENTS
========================= */

body {
  font-size: 18px;
}

input,
select,
textarea,
button {
  font-size: 18px !important;
  font-weight: 700;
}

label {
  font-size: 17px !important;
  font-weight: 800;
}

table {
  font-size: 17px;
}

.text-xs {
  font-size: 15px !important;
}

.text-sm {
  font-size: 17px !important;
}

.text-base {
  font-size: 18px !important;
}

.text-lg {
  font-size: 21px !important;
}

.text-xl {
  font-size: 24px !important;
}

.text-2xl {
  font-size: 30px !important;
}

.text-3xl {
  font-size: 38px !important;
}

.text-4xl {
  font-size: 46px !important;
}